<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>318431458336-ou2j9vjtr39g6vsh2aiktt6256fnqps4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-QdjAsB3kumQE7Q9YgZVlywNgZyFvdXY</string>
	<key>GCM_SENDER_ID</key>
	<string>318431458336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canteenpay.canteenPay</string>
	<key>PROJECT_ID</key>
	<string>oo-myanmar</string>
	<key>STORAGE_BUCKET</key>
	<string>oo-myanmar.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318431458336:ios:5cd5d3aba0ae03103a7845</string>
</dict>
</plist>