<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUhgJV4ZMnYD6Ic1s2OaijKs8GIGESz-c</string>
	<key>BUNDLE_ID</key>
	<string>com.canteenpay.canteenPay</string>
	<key>CLIENT_ID</key>
	<string>1083173550425-6mt4fhm4dp3i1phpm2nltfr417vgj5ol.apps.googleusercontent.com</string>
	<key>GCM_SENDER_ID</key>
	<string>1083173550425</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083173550425:ios:500ed1b5d52a3a303ff448</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>canteenpay-a64a1</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083173550425-6mt4fhm4dp3i1phpm2nltfr417vgj5ol</string>
	<key>STORAGE_BUCKET</key>
	<string>canteenpay-a64a1.firebasestorage.app</string>
</dict>
</plist>
